.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: auto;
        height: auto;

        .field-form {
            outline: none;
            border: none;
            border: 1px solid rgba(0, 0, 0, 0.164);
            padding: 0.5rem 1rem;
            width: 100%;
            background-color: hsla(200, 100%, 81%, 0.904);
            border-radius: 0.5rem;
        }

        .form-image {
            width: 15rem;
            height: 15rem;
        }

        p {
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0.815);
        }

        .btn {
            width: 100%;
            background-color: #4DB5F9;
            color: white;
            font-weight: 700;
            margin: 2rem;
        }

        .btn-big {
            width: 100%;
            background-color: #4DB5F9;
            color: white;
            font-weight: 700;
            margin: 2rem;
            font-size: 2rem;
        }

    }
}

.answers-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers-yes {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap:0.3rem;
}