@import "../root.scss";

.div-final {
    width: 100vw;
    min-height: 100vh;
    background-color: $base-color;
    color: black;
    margin-top: 1rem;
    height: auto;

    .final {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-direction: column;
        z-index: 1;
        position: absolute;

        .tr-golden{
            margin: auto;
            padding: auto;
        }
        .text-medallero{
            max-width: 30rem;
            margin:1rem 2rem;
        }
    }
}

@media(max-width:998px){
    .div-final {
        .final {
            margin-top: 7rem;
        }
    }
}