@import "../root.scss";

.div-questions {
    width: 100vw;
    min-height: 100vh;
    background-color: $base-color;
    position: fixed;
    top:0;

    .questions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        z-index: 1;
        position: absolute;

        .row-questions {

            .loading-div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .spinner-border{
                    font-size: 10rem;
                }
            }
            .col-questions {
                .respuesta{
                    width: 100%;
                    height: 90%;
                    padding: 1rem 1rem;
                    background-color: $base-purple;
                    border-radius: 2rem;
                    border: 3px solid $border-dark;
                    color:white
                }
                .respuesta:hover{
                    cursor: pointer;
                    box-shadow: 4px 4px $border-dark,-4px -4px white;

                }
                .correct{
                    background-color:$correct ;
                }
                .incorrect{
                    background-color:$incorrect ;
                }
            }
        }
    }
}